@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* @font-face { 
  font-family: "Star Wars";
  src: url(./fonts/STARWARS.TTF) format("truetype");
} */

#root 
{
    min-height: 100vh;
    height: auto;
}

body, p 
{
  font-family: "Droid Sans", arial, verdana, sans-serif;
  margin: 0;
  background: #eee;
}

