@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face 
{
  font-family: 'Proxima Nova Regular';
  src: url('../src/fonts/ProximaNova-Regular.eot'),
      url('../src/fonts/ProximaNova-Regular.woff') format('woff'),
      url('../src/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: 'Proxima Nova Bold';
  src: url('../src/fonts/ProximaNova-Bold.eot'),
      url('../src/fonts/ProximaNova-Bold.woff') format('woff'),
      url('../src/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: 'Star Wars';
  src: url('../src/fonts/STARWARS.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;
}

.container 
{
  max-width: 1230px;
}

.container-inner 
{
  width: 690px;
}

#root 
{
  height: auto;
}

body
{
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

p, h1, h2, h3, h3, h5, h6
{
  margin: 0;
}

